.row
	.col-md-8.col-xs-8.col-xs-offset-2.col-md-offset-2
		.box.box-primary
			.box-header.with-border
				%h4 Register a new membership
			.box-body
				.form-group
					= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
						= f.error_notification
						.form-inputs
							= f.input :email, required: true, autofocus: true
							= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
							= f.input :password_confirmation, required: true
						.form-actions
							= f.button :submit, "Sign up", class: 'btn btn-primary'

				= render "devise/shared/links"

