%tr{id: "course-participant-#{user.id}"}
  %td= "#{user.first_name} #{user.last_name}"
  %td
    - if user_signed_in? && user.id == current_user.id
      = link_to 'Unsubscribe', course_subscriptions_path(course), method: :delete, remote: true
    %br
    - if user_signed_in? && course.user.id == current_user.id
      = link_to 'Dismiss', users_delete_course_ban_path(user, course), method: :delete, remote: true, data: { confirm: "You sure?" }
