.content
  .row
    .col-md-12
      - if @courses.present?
        %ul.list-unstyled
          - @courses.each do |course|
            .col-md-3
              .thumbnail
                %li= course.title.humanize
                %li= link_to 'Participants', course_participants_path(course)
                - if user_signed_in? && course.user.id == current_user.id
                  %li= link_to 'Lessons',     users_course_lessons_path(course)
                - else
                  %li= link_to 'Lessons',     course_lessons_path(course)
                %br
                = image_tag course.cover.thumb
                = link_to 'Edit Course', edit_users_course_path(course)
                |
                = link_to 'Delete Course', users_course_path(course), method: :delete, data: { confirm: 'Are you sure' }
        = paginate @courses
      - else
        %h2 No courses

  - if can? :manage, Course
    = link_to 'New Course', new_users_course_path
  - else
    %p You should be a trainer to create new course
