.row
  .col-md-8.col-xs-8.col-xs-offset-2.col-md-offset-2
    .box.box-primary
      .box-header.with-border
        %h4 Log in
      .box-body
        .form-group
          = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.error_notification
            .form-inputs
              = f.input :email, required: false, autofocus: true
              = f.input :password, required: false
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
            .form-actions
              = f.button :submit, "Log in", class: 'btn btn-primary'

        .social-auth-links.text-center
          = link_to user_omniauth_authorize_path(provider: 'twitter') do
            .btn.btn-block.btn-social.btn-twitter.btn-flat
              %i.fa.fa-twitter
              Sign in using Twitter

          = link_to user_omniauth_authorize_path(provider: 'facebook') do
            .btn.btn-block.btn-social.btn-facebook.btn-flat
              %i.fa.fa-facebook
              Sign in using Facebook


        = render "devise/shared/links"
