.box-body
  .form-group
    = simple_form_for [:users, course, lesson], html: { multipart: true } do |f|
      = f.input :title
      = f.input :position
      = f.input :description
      = f.input :cover
      = f.input :summary
      = f.input :homework
      = f.input :hidden, as: :boolean

      = f.button :submit, class: 'btn btn-primary'
