.content
  .row
    .col-md-12
      - if @courses.present?
        %ul.list-unstyled
          - @courses.each do |course|
            .col-md-3
              .thumbnail
                %li= course.title.humanize
                %li= link_to 'Participants', course_participants_path(course)

                - if user_signed_in? && course.bans.exists?(current_user)
                  %p You was dismissed!
                - else
                  = link_to 'Lessons', users_course_lessons_path(course)

                %br
                = image_tag course.cover.admin_thumb
        = paginate @courses
      - else
        %h2 No courses
